@import "../../user.component";

.container {
  padding: 50px;

}

.form-group {
}

input, textarea {
  width: 260px;
  margin-top: 20px;
  text-align: center;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

input[type=time]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=time]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
