<nav class="nav">
  <ul class="nav__list">
    <li class="nav_header"><a routerLink="/user/profile">My Profile</a></li>
    <li class="nav__item"><a routerLink="/user/browseTutors">Browse Tutors</a></li>
    <li class="nav__item"><a routerLink="/user/myRequests">My Requests</a></li>
    <li class="nav__item"><a routerLink="/user/mySchedule">My Schedule</a></li>
    <li class="nav__item"><a href="#">Mumblecore</a></li>
    <li class="nav__item"><a href="#">Fingerstache</a></li>
    <li class="nav__item"><a (click)="logout()" href="/">Logout</a></li>
  </ul>
</nav>
