<nav class="nav">
  <ul class="nav__list">
    <li class="nav_header"><a [routerLink]="[{outlets: {userR: ['profile']}}]">My Profile</a></li>
    <li class="nav__item"><a routerLink="/user/browseTutors">Browse Tutors</a></li>
    <li class="nav__item"><a href="#">Wolf Moon</a></li>
    <li class="nav__item"><a href="#">Raw Denim</a></li>
    <li class="nav__item"><a href="#">Mumblecore</a></li>
    <li class="nav__item"><a href="#">Fingerstache</a></li>
    <li class="nav__item"><a (click)="logout()" href="/">Logout</a></li>
  </ul>
</nav>
