@import "../user.component.scss";

.nav {
  height: 100%;
  width: $nav-bar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav__list {
  margin-left: $nav-bar-width/8;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  //margin: 0;
  list-style: none;
  transform: translateY(-50%);

  .nav__item {
    padding: 0.5rem 1rem;
    font-weight: lighter;

  }

  .nav_header {
    padding: 0.5rem 1rem;
  }

  a {
    display: inline-block;
    color: black;

    font-size: 20px;
    line-height: 1.5;

    &:hover {
      color: $primary-light;
    }
  }
}
