<div class="container">


  <ul class="list-group pull-down" id="contact-list">

    <li class="list-group-item"
        *ngFor="let tutor of tutors
              |  tutorSearch : searchValue
              |  paginate: {itemsPerPage:4, currentPage: page} ">
      <!--          <hr>-->
      <div class="row w-200">
        <div class="col-12 col-sm-6 col-md-3 px-0">
          <img src="//placehold.it/100" class="rounded-circle mx-auto d-block img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-md-9 text-sm-left text-center">
          <span class="header"><a routerLink="/user/sendLessonRequest"
                                  [queryParams]="{'username':tutor.username}">{{tutor.name}}</a></span>
          <br>
          <span class="text-muted">Rating: {{tutor.rating}}</span>
          <br>
          <span class="text-info">{{tutor.personalInfo}}</span>
        </div>
      </div>
      <hr>
    </li>


  </ul>
  <div class="button-menu">
    <input type="text" placeholder="Search..." [ngModel]="searchValue"
           (ngModelChange)="updateSearchModel($event)">>
    <div class="search"></div>
  </div>

  <div class="pagination">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>
</div>
