.text-center{
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  //font-style: italic;
}
.header{
  font-size: 30px;
  //padding-top: 10px;
  //padding-bottom: 10px;
  font-weight: bold;
}

