.text-center{
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.header{
  font-size: 30px;
  font-weight: bold;
}

.jumbotron{
  padding-top: 50px;
  padding-left: 100px;
  padding-right:100px;
}

// Login and registration forms
input{
  text-align: center;
  margin-top: 10px;

}

.btn-link {
  font-size: 18px;
}
h5{
  padding-bottom: 15px;
}

